* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-y: hidden;
}

body {
    background-image: url(/img/background.svg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
    
img {
    max-width: 100%;
}

.presentation {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 750px) {
        width: 100%;
        height: 87%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}

.presentation_image {
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @media (max-width: 750px) {
        height: 35%;
        width: 100%;
    }

    img { 
        @media (max-width: 750px) {
            height: 100px;
            width: 100px;
        }
    }

    h1 {
        font-family: Montserrat-SemiBold;
        font-style: normal;
        font-size: 38px;
        color: #FFFFFF;

        @media (max-width: 750px) {
            font-size: 25px;
        }

        @media (max-width: 1225px) {
            font-size: 31px;
        }

    }

    p {
        font-family: Montserrat-Light;
        font-style: normal;
        font-size: 25px;
        color: #FFFFFF;

        @media (max-width: 750px) {
            font-size: 16px;
        }

        @media (max-width: 1225px) {
            font-size: 15px;
        }
    }
}

.presentation_text {
    width: 65%;
    height: 100%;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;

    @media (max-width: 750px) {
        height: 65%;
        width: 90%;
    }

    p {
        font-family: Montserrat-Light;
        font-style: normal;
        font-size: 18px;
        color: #FFFFFF;
        margin: 10px;

        @media (max-width: 1000px) {
            font-size: 16px;
        }

        @media (max-width: 750px) {
            font-size: 12px;
        }

        a {
            color: #FFFFFF;
            text-decoration: underline;
        }
    }
}

.contact {
    width: 50%;
    float: right;
    display: flex;
    justify-content: space-around;
    font-family: Montserrat-Regular;
    font-size: 16px;
    line-height: 25px;
    color:white;
    align-self: flex-end;

    @media (max-width: 1200px) {
        width: 100%;
        float: none;
        flex-wrap: wrap;
    }

    @media (max-width: 750px) {
        font-size: 12px;
    }

    a {
        color: white;
    }
}