* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-y: hidden;
}

body {
    background-image: url(/img/background.svg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
    
img {
    max-width: 100%;
}